---
title: RubyConf China
---

        <nav class="global-nav">
            <ul>
                <li><a href="#about">RubyConfChinaについて</a></li>
                <li><a href="/speakers.html">ゲストとスピーカー</a></li>
                <li><a href="/sponsors.html">スポンサー</a></li>
                <li><a href="#venue">ロケーション</a></li>
                <li><a href="http://19wu.com/rubyconfchina" target="_blank" class="btn">参加登録</a></li>
            </ul>
        </nav>

<section id="about" class="wrap about">
  <header>
    <h2>RubyConfChinaについて</h2>
    <p>RubyConfChinaは、中国最大規模で、レベルの高いIT技術者が集う、最も影響力のあるRuby会議です。</p>
  </header>

  <p>
    RubyConfChina2013は、10月26日と27日に北京にて開催されることになりました。今回で既に第五回目を迎える中国最大のRuby会議です。大会に集まるエンジニアは500名規模です。海外、台湾、中国国内を代表するRubyエンジニアが一同に介します。また、Rubyを使用している中国企業、海外企業、マスコミなど、様々な参加者が集います。その意味では、アジアを代表するカンファレンスになることでしょう。
  </p>
</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>ゲストスピーカーと演題</h2>
      <p>以下の方々は説明するまでもないRubyistですね～。</p>
    </header>

    <ul class="speakers-list clearfix">
      <li>
        <figure>
          <a href="//pragdave.pragprog.com/">
            <img src="img/davethomas.jpg" alt="Dave Thomas" />
          </a>
        </figure>
        <h3>Dave Thomas</h3>
        <p><a href="http://pragprog.com/" target="_blank">The Pragmatic Bookshelf</a></p>
      </li>
      <li>
        <figure>
          <a href="https://twitter.com/steveklabnik"><img src="img/steveklabnik.png" alt="Steve Klabnik"></a>
        </figure>
        <h3>Steve Klabnik</h3>
        <p><a href="http://jumpstartlab.com/" target="_blank">Jumpstart Lab</a></p>
      </li>

      <li>
        <figure>
          <a href="http://zachholman.com/"><img src="img/zachholman.png" alt="Zach Holman"></a>
        </figure>
        <h3>Zach Holman</h3>
        <p><a href="https://github.com/" target="_blank">Github</a></p>
      </li>

      <li>
        <figure>
          <a href="//obiefernandez.com/"><img src="img/obiefernandez.jpg" alt="Obie Fernandez"></a>
        </figure>
        <h3>Obie Fernandez</h3>
        <p><a href="http://leanstartupmachine.com/" target="_blank">Lean Startup Machine</a></p>
      </li>

      <li>
        <figure>
          <a href="//twitter.com/sikachu"><img src="img/premsichanugrist.png" alt="Prem Sichanugrist">
        </a>
        </figure>
        <h3>Prem Sichanugrist</h3>
        <p><a href="http://www.thoughtbot.com/" target="_blank">thoughtbot</a></p>
      </li>

      <li>
        <figure>
          <a href="//kevindewalt.com"><img src="img/kevindewalt.png"></a>
        </figure>
        <h3>Kevin Dewalt</h3>
        <p><a href="https://www.sohelpful.me/" target="_blank">SoHelpful.me</a></p>
      </li>

      <li>
        <figure>
          <a href="//ihower.tw/blog"><img src="img/ihower.jpeg"></a>
        </figure>
        <h3>張文鈿</h3>
        <p><a href="http://faria.co/" target="_blank">Faria Systems</a></p>
      </li>

      <li>
        <figure>
          <a href="http://github.com/aquajach"><img src="img/jackchen.png"></a>
        </figure>
        <h3>Jack Chen</h3>
        <p><a href="http://thought-sauce.com/" target="_blank">Thought Sauce</a></p>
      </li>

      <li>
        <figure>
          <a href="http://github.com/luikore/"><img src="img/lvge.png"></a>
        </figure>
        <h3>吕戈</h3>
        <p><a href="http://www.groupon.com/" target="_blank">Groupon</a></p>
      </li>

      <li>
        <figure>
          <a href="http://bovensiepen.net/"><img src="img/daniel-bovensiepen.png"></a>
        </figure>
        <h3>Daniel Bovensiepen</h3>
        <p><a href="http://www.siemens.com.cn" target="_blank">Siemens Limited China</a></p>
      </li>

      <li>
        <figure>
          <a href="http://qiezi.me"><img src="img/rafael.png"></a>
        </figure>
        <h3>肖雪洁</h3>
        <p><a href="https://citrusbyte.com">CitrusByte</a></p>
      </li>

      <li>
        <figure>
          <a href="http://weibo.com/coocooba"><img src="img/lilu.jpg"></a>
        </figure>
        <h3>李路</h3>
        <p><a href="http://knewone.com">Knewone</a></p>
      </li>

      <li>
        <figure>
          <a href="http://weilu.github.com"><img src="img/weilu.jpg"></a>
        </figure>
        <h3>鲁葳</h3>
        <p><a href="http://neo.com">Neo</a></p>
      </li>

      <li>
        <figure>
          <a href="http://blog.xdite.net"><img src="img/xdite.jpg"></a>
        </figure>
        <h3>鄭伊廷</h3>
        <p><a href="http://logdown.com">LOGDOWN</a></p>
      </li>

      <li>
        <figure>
          <a href="http://michael.nona.name/"><img src="img/mechiland.jpeg"></a>
        </figure>
        <h3>陈金洲</h3>
        <p><a href="http://thoughtworks.com">ThoughtWorks</a></p>
      </li>

      <li>
        <figure>
          <a href="http://poiyzy.github.io"><img src="img/royyoung.png"></a>
        </figure>
        <h3>杨濯宇</h3>
        <p><a href="https://pragmatic.ly">Pragmatic.ly</a></p>
      </li>
    </ul>

    <div class="cta">
      <h4><a href="mailto:conf@ruby-china.org?subject=RubyConf China 2013 Proposal" class="btn">まだまだ講演者を募集しています！</a><br><small></small></h4>
    </div>
  </div>
</section>

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>スポンサー</h2>
  </header>

  <div class="sponsors-platinum">
    <ul>
      <li><h4>プラチナスポンサー</h4></li>
      <li>
        <a href="http://groupon.com" target="_blank"><img src="img/groupon.png" /></a>
      </li>
      <li>
        <a href="http://www.jcloud.com" target="_blank"><img src="img/logo-jingdong.png" /></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-gold">
    <ul>
      <li><h4>ゴールドスポンサー</h4></li>
      <li>
        <a href="http://upyun.com" target="_blank"><img src="img/logo-UPYun.png" /></a>
      </li>
      <li>
        <a href="http://faria.co" target="_blank"><img src="img/logo-FariaSystems.png" /></a>
      </li>
      <li>
        <a href="http://qiniu.com" target="_blank"><img src="img/logo-qiuniu.png" /></a>
      </li>
      <li>
        <a href="http://intridea.com" target="_blank"><img src="img/intridea.png" /></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-silver">
    <ul>
      <li><h4>シルバースポンサー</h4></li>
      <li>
        <a href="http://bitfund.pe" target="_blank"><img src="img/logo-bitfund.png" /></a>
      </li>
      <li>
        <a href="http://gitcafe.com" target="_blank"><img src="img/logo-GitCafe.png" /></a>
      </li>
      <li>
        <a href="http://github.com" target="_blank"><img src="img/logo-github.png" /></a>
      </li>
      <li>
        <a href="http://logdown.com" target="_blank"><img src="img/logo-logdown.png" /></a>
      </li>
      <li>
        <a href="http://rubyconf.speedycloud.cn" target="_blank"><img src="img/logo-speedycloud.png" /></a>
      </li>
      <li>
        <a href="http://freewheel.tv" target="_blank"><img src="img/logo-freewheel.png" /></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>ブロンズスポンサー</h4></li>
      <li>
        <a href="http://boohee.com" target="_blank"><img src="img/logo-boohee.png" /></a>
      </li>
      <li>
        <a href="https://www.yunti.me" target="_blank"><img src="img/logo-vpncloud.png" /></a>
      </li>
      <li>
        <a href="http://jagarr.com" target="_blank"><img src="img/logo-jagarr.png"/></a>
      </li>
      <li>
        <a href="http://www.ucloud.cn" target="_blank"><img src="img/logo-UCloud.png"/></a>
      </li>
      <li>
        <a href="http://www.tianji.com" target="_blank"><img src="img/logo-tianji.png"/></a>
      </li>
      <li>
        <a href="http://www.thoughtworks.com/cn/" target="_blank"><img src="img/logo-thoughtworks.png"/></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li><h4>参加メディア</h4></li>
      <li>
        <a href="http://36kr.com" target="_blank"><img src="img/logo-36kr.png" /></a>
      </li>
      <li>
        <a href="http://infoq.com/cn/" target="_blank"><img src="img/logo-infoQ.png" /></a>
      </li>
    </ul>
  </div>

  <p><a href="mailto:conf@ruby-china.org?subject=Sponsor to RubyConf China 2013" class="ad-placeholder">募集中</a></p>
  <p>
    RubyConfChina第一回大会以来、既に五回目を数えることになりました。毎回、私達RubyConfChina事務局は、多くのプレッシャーの中、Rubyを中国で広めたい、コミュニティーの良さを中国のみんなに知らせたいという趣旨で、頑張って来ました。幸い今回も多くのスポンサーに恵まれましたことを感謝します。<br/><br/>

    もし大会のスポンサーに興味のある日本の企業様がいらっしゃいましたら、こちらまでご連絡下さい。
    <br/>
    <a href="mailto:koz.masumitsu@gmail.com?subject=Sponsor to RubyConf China 2013">増満 工将</a>
    スポンサーパンフレット:
    <a href="http://rubyconfchina.org/sponsorship/Sponsorship_Pamphlet_2013_Cn.pdf">
      中国語
    </a>
     /
    <a href="http://rubyconfchina.org/sponsorship/Sponsorship_Pamphlet_2013_En.pdf">
      英語
    </a>
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>アドレス</h4>
      <img src="/img/venue.jpg" />
      <p>
        鑫海锦江大酒店<br>
        <a href="http://ditu.google.cn/maps?q=%E9%91%AB%E6%B5%B7%E9%94%A6%E6%B1%9F%E5%A4%A7%E9%85%92%E5%BA%97&um=1&ie=UTF-8&hl=zh-CN&sa=N&tab=wl" target="_blank" rel="nofollow" title="クリックして地図を見る">
          北京市东城区金宝街61号
        </a>
      </p>
    </div>
  </div>
</section>
