---
title: RubyConf China
---

<article>
  <header class="container">
    <img src="/img/rubychina.png"/>
    <h1>RubyConf China</h1>
    <h2>10 月 26 - 27 号，2013</h2>
    <h3>北京，中国</h3>

    <nav>
      <ul>
        <li>首页</li>
        <li>演讲嘉宾</li>
        <li>赞助单位</li>
        <li>联系我们</li>
      </ul>
    </nav>
  </header>

  <section>
    <header>
      <h3>关于 RubyConf China</h3>
    </header>

    <p>
      中国规模最大，最高水平，最有影响力的 Ruby 技术大会 - RubyConf China 将在 2013 年 10 月 26 日至 27 日在北京举行，本次大会是第五次 Ruby 中国技术大会。大会规模将超过500人，邀请了来自海外，台湾，国内本土的最顶尖的 Ruby 开发高手，为国内所有关注 Ruby，使用 Ruby，推广 Ruby 的企业和个人，提供平等，开放的交流平台。本年度的 Ruby 大会是一场技术的饕餮盛宴，来自全国的 Ruby 社区的组织者们将倾力为大家打造一场国内乃至亚洲顶级的 Ruby 大会。<br/>
      <button>报名参会</button>
    </p>
  </section>

  <section>
    <header>
      <h3>演讲嘉宾</h3>
    </header>

    <ul class="speakers">
      <li>
        <img src="img/davethomas.jpg">
        <a href="http://pragdave.pragprog.com/">
          Dave Thomas
        </a>
      </li>
      <li>
        <img src="img/steveklabnik.png">
        <a href="https://twitter.com/steveklabnik">
          Steve Klabnik</a>
      </li>
      <li>
        <img src="img/zachholman.jpg">
        <a href="http://zachholman.com/">
          Zach Holman</a>
      </li>
      <li>
        <img src="img/obiefernandez.jpg">
        <a href="http://obiefernandez.com/">
          Obie Fernandez</a>
      </li>
      <li>
        <img src="img/premsichanugrist.jpeg">
        <a href="https://twitter.com/sikachu">
          Prem Sichanugrist
        </a>
      </li>
      <li>
        <img src="img/kevindewalt.png">
        <a href="">
          Kevin Delwalt
        </a>
      </li>
    </ul>

    <h4>报名成为讲师</h4>
    <p>主题演讲和快速演讲</p>
  </section>

  <section>
    <header>
      <h3>赞助单位</h3>
    </header>

    <h4>白金赞助商</h4>
    <ul>
      <li>
        <img src="img/groupon.png"/>
      </li>
      <li>
        <img src="img/intridea.png"/>
      </li>
    </ul>

    <h4>金牌赞助商</h4>
    <ul>
      <li></li>
    </ul>

    <h4>银牌赞助商</h4>
    <ul>
    </ul>

    <h4>铜牌赞助商</h4>
    <ul>
      <li></li>
    </ul>

    <p>
      感谢赞助商致辞。<br/>

      如果您有兴趣赞助本次大会,请邮件联系 admin@ruby-china.org，或者电话联系吕国宁 (+86) 133-9115-9253。点击这里查看具体赞助商方案，中文版 / English。
    </p>
  </section>

  <section>
    <header>
      <h3>主办方</h3>
    </header>

    <p>
      <ul>
        <li><a href="http://ruby-china.org">Ruby China Logo</a></li>
        <li><a href="https://pragmatic.ly">Pragmatic.ly Logo</a></li>
        <li><a href="http://knewone.com">Knewone Logo</a></li>
      </ul>
    </p>
  </section>

  <footer class="container">
    <div class="logo">
      RubyConf China Logo

      <div class="social">
        <a href="https://twitter.com/ruby_china">Twitter</a>
        <a href="http://weibo.com/ruby_china">Weibo</a>
      </div>
    </div>

    <div class="credits">
      <div class="brought-by">
        大会组织者
      </div>
      <div class="organizers">
        @lgn21st, @yedingding, @jasl
      </div>
    </div>
  </footer>
</article>
