---
title: RubyConf China
---

<header class="hero">
  <figure><img src="/img/rubyconfchina-logo.png"/></figure>
  <h1>RubyConf China</h1>
  <h2>10 月 26 - 27 号，2013<br />北京，中国</h2>
</header>

<nav class="global-nav">
  <ul>
    <li><a href="#about">关于大会</a></li>
    <li><a href="#speakers">演讲嘉宾</a></li>
    <li><a href="#sponsors">赞助单位</a></li>
    <li><a href="#venue">会议地址</a></li>
    <li><a href="#join" class="btn">报名参会</a></li>
  </ul>
</nav>

<section id="about" class="wrap about">
  <header>
    <h2>关于 RubyConf China</h2>
    <p>中国规模最大，最高水平，最有影响力的 Ruby 技术大会</p>
  </header>

  <p>
    RubyConf China 将在 2013 年 10 月 26 日至 27 日在北京举行，本次大会是第五次 Ruby 中国技术大会。大会规模将超过500人，邀请了来自海外，台湾，国内本土的最顶尖的 Ruby 开发高手，为国内所有关注 Ruby，使用 Ruby，推广 Ruby 的企业和个人，提供平等，开放的交流平台。本年度的 Ruby 大会是一场技术的饕餮盛宴，来自全国的 Ruby 社区的组织者们将倾力为大家打造一场国内乃至亚洲顶级的 Ruby 大会。
  </p>
</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>
      <p>国际顶尖开发者和演讲者, 感受大师风范</p>
    </header>

    <ul class="speakers-list clearfix">
      <li>
        <figure>
          <a href="http://pragdave.pragprog.com/">
            <img src="img/davethomas.jpg" alt="Dave Thomas" />
          </a>
        </figure>
        <h3>Dave Thomas</h3>
        <p>Co-Founder of Pragmatic Programmer</p>
      </li>
      <li>
        <figure>
          <a href="https://twitter.com/steveklabnik"><img src="img/steveklabnik.png" alt="Steve Klabnik"></a>
        </figure>
        <h3>Steve Klabnik</h3>
        <p>Founder of Jumpstart Lab</p>
      </li>

      <li>
        <figure>
          <a href="://twitter.com/steveklabnik"><img src="img/zachholman.jpg" alt="Zach Holman"></a>
        </figure>
        <h3>Zach Holman</h3>
        <p>Githubber</p>
      </li>

      <li>
        <figure>
          <a href="://obiefernandez.com/"><img src="img/obiefernandez.jpg" alt="Obie Fernandez"></a>
        </figure>
        <h3>Obie Fernandez</h3>
        <p>Co-Founder of Hashrocket</p>
      </li>

      <li>
        <figure>
          <a href="://twitter.com/sikachu"><img src="img/premsichanugrist.jpeg" alt="Prem Sichanugrist">
        </a>
        </figure>
        <h3>Prem Sichanugrist</h3>
        <p>Developer at Thoughtbot</p>
      </li>

      <li>
        <figure>
          <a href="://kevindewalt.com"><img src="img/kevindewalt.png"></a>
        </figure>
        <h3>Kevin Delwalt</h3>
        <p>Founder of SoHelpful</p>
      </li>
    </ul>

    <div class="cta">
      <h4><a href="#" class="btn">报名成为讲师</a><br><small>主题演讲或快速演讲</small></h4>
    </div>
  </div>
</section>

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>
    <p>感谢赞助商支持, 是他们使本次大会成为可能</p>
  </header>

  <div class="sponsors-platinum">
    <ul>
      <li><h4>白金赞助商</h4></li>
      <li>
        <a href="#"><img src="img/groupon.png" /></a>
      </li>
      <li>
        <a href="#"><img src="img/intridea.png" /></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-gold">
    <ul>
      <li><h4>金牌赞助商</h4></li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/new-relic-150x60-99eb83703aaec51b7e70555054a67445.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/linode-150x60-d5cdfb59e5c33ea825b54310a9f74ffa.png" /></a>
      </li>
      <li><a href="#"><img src="http://www.railsconf.com/assets/sponsors/sendgrid-150x60-19166e958d7c5aadddea85825602a2f8.png" /></a></li>
    </ul>
  </div> 
  
  <div class="sponsors-silver">
    <ul>
      <li><h4>银牌赞助商</h4></li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/wyeworks-150x60-faf92131e168983534174d450ffa728f.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/tilde-150x60-89a19f44594387fe5a81910e53060b0d.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/hulu-150x60-0803552aa618dc697875604a7e8ea2e0.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/hp-150x60-6cefe0717ab1a1dd08b7f302459c4cdc.png" /></a>
      </li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>铜牌赞助商</h4></li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/wyeworks-150x60-faf92131e168983534174d450ffa728f.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/tilde-150x60-89a19f44594387fe5a81910e53060b0d.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/hulu-150x60-0803552aa618dc697875604a7e8ea2e0.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/hp-150x60-6cefe0717ab1a1dd08b7f302459c4cdc.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/new-relic-150x60-99eb83703aaec51b7e70555054a67445.png" /></a>
      </li>
      <li>
        <a href="#"><img src="http://www.railsconf.com/assets/sponsors/linode-150x60-d5cdfb59e5c33ea825b54310a9f74ffa.png" /></a>
      </li>
      <li><a href="#"><img src="http://www.railsconf.com/assets/sponsors/sendgrid-150x60-19166e958d7c5aadddea85825602a2f8.png" /></a></li>
    </ul>
    </ul>
  </div>

  
  <p><a href="mailto: admin@ruby-china.org?subject=Sponsor to RubyConf China 2013" class="ad-placeholder">虚位以待</a></p>
  <p>
    如果您有兴趣赞助本次大会，请邮件联系 <a href="mailto: admin@ruby-china.org?subject=Sponsor to RubyConf China 2013">admin@ruby-china.org</a>，<br />或者电话联系吕国宁 (+86) 133-9115-9253
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>会议地址</h4>
      <img src="/img/venue.jpg" />
      <p>鑫海锦江大酒店<br>北京市东城区金宝街61号</p>
      <small>咨询电话: +86 139 1234 5678</small>

    </div>
  </div>
</section>

<footer class="wrap footer">
  <div class="container">
    <header>
      <h2>主办方和组织者</h2>
    </header>

    <ul class="credits">
      <li>
        <a href="https://pragmatic.ly"><i class="icon-pragmatic-ly"></i></a>
        <p><a href="//twitter.com/yedinding">@yedingding</a></p>
      </li>
      <li>
        <a href="http://ruby-china.org"><i class="icon-ruby-china"></i></a>
        <p><a href="//twitter.com/lgn21st">@lgn21st</a></p>
      </li>
      <li>
        <a href="http://knewone.com"><i class="icon-knewone"></i></a>
        <p><a href="//twitter.com/jasl">@jasl</a></p>
      </li>
    </ul>

    <div class="social">
      <a href="https://twitter.com/ruby_china"><i class="icon-twitter"></i></a>
      <a href="http://weibo.com/ruby_china"><i class="icon-weibo"></i></a>
    </div>
    
    <p class="copyright">© COPYRIGHT RUBYCONF CHINA 2013, WEBSITE BY <a href="//beenhero.com">BIN HE</a></p>
  </div>
</footer>