---
title: Speakers of RubyConf China 2013
---

<header class="hero">
  <figure><img src="/img/rubyconfchina-logo.png"/></figure>
  <h1>RubyConf China</h1>
  <h2>10 月 26 - 27 号，2013<br />北京，中国</h2>
</header>

<nav class="global-nav">
  <ul>
    <li><a href="#about">关于大会</a></li>
    <li><a href="#speakers">演讲嘉宾</a></li>
    <li><a href="#sponsors">赞助单位</a></li>
    <li><a href="#venue">会议地址</a></li>
    <li><a href="http://19wu.com/rubyconfchina" target="_blank" class="btn">报名参会</a></li>
  </ul>
</nav>


<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>
      <p>国际顶尖开发者和演讲者, 感受大师风范</p>
    </header>

    <ul class="cbp_tmtimeline">
	    <li id="davethomas">
	        <time class="cbp_tmtime" datetime="2013-10-26 9:30"><span>10/26/13</span> <span>9:30</span></time>
	        <div class="cbp_tmicon"><img src="img/davethomas.jpg" alt="Dave Thomas" /></div>
	        <div class="cbp_tmlabel">
	            <h2>Code Ruby, Happy Life</h2>
	            <p class="topic-summary">Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//pragdave.pragprog.com">Dave Thomas</a> needs no introduction to Ruby programmers. As co-author of "Programming Ruby: The Pragmatic Programmers' Guide - fondly known as the "Pickaxe", Dave was instrumental in spreading Ruby beyond its birthplace in Japan.
	            </div>
	        </div>
	    </li>
	    <li id="steveklabnik">
	        <time class="cbp_tmtime" datetime="2013-10-26 11:00"><span>10/26/13</span> <span>11:00</span></time>
	        <div class="cbp_tmicon"><img src="img/steveklabnik.png" alt="Steve Klabnik"></div>
	        <div class="cbp_tmlabel">
	            <h2>书山有路勤为径</h2>
	            <p class="topic-summary">讲的是一座叫'书山'的大山, 有条上山路叫'勤为径'.</p>
	            <div class="speaker-info">
	            	<a href="//pragdave.pragprog.com">Steve Klabnik</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="zachholman">
	        <time class="cbp_tmtime" datetime="2013-10-26 13:00"><span>10/26/13</span> <span>13:00</span></time>
	        <div class="cbp_tmicon"><img src="img/zachholman.png" alt="Zach Holman"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//zachholman.com/">Zach Holman</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="obiefernandez">
	        <time class="cbp_tmtime" datetime="2013-10-26 14:00"><span>10/26/13</span> <span>14:00</span></time>
	        <div class="cbp_tmicon"><img src="img/obiefernandez.jpg" alt="Obie Fernandez"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//obiefernandez.com/">Obie Fernandez</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="premsichanugrist">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/premsichanugrist.png" alt="Prem Sichanugrist"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//twitter.com/sikachu">Prem Sichanugrist</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="kevindewalt">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/kevindewalt.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//kevindewalt.com">Kevin Dewalt</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="ihower">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/ihower.jpeg"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="//ihower.tw/blog">張文鈿</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="jackchen">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/jackchen.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://github.com/aquajach">Jack Chen</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="lvge">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/lvge.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://github.com/luikore/">吕戈</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="daniel-bovensiepen">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/daniel-bovensiepen.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://bovensiepen.net/">Daniel Bovensiepen</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="rafael">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/rafael.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://qiezi.me">肖雪洁</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
		<li id="lilu">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/lilu.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://weibo.com/coocooba">李路</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="weilu">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/weilu.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://weilu.github.com">鲁葳</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	    <li id="xdite">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>15:00</span></time>
	        <div class="cbp_tmicon"><img src="img/xdite.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>Topic summary goes here...</p>
	            <div class="speaker-info">
	            	<a href="http://blog.xdite.net">鄭伊廷</a> needs no introduction to Ruby programmers...
	            </div>
	        </div>
	    </li>
	</ul>

  </div>
</section>

<footer class="wrap footer">
  <div class="container">
    <header>
      <h2>主办方和组织者</h2>
    </header>

    <ul class="credits">
      <li>
        <a href="https://pragmatic.ly"><i class="icon-pragmatic-ly"></i></a>
        <p><a href="//twitter.com/yedinding">@yedingding</a></p>
      </li>
      <li>
        <a href="http://ruby-china.org"><i class="icon-ruby-china"></i></a>
        <p><a href="//twitter.com/lgn21st">@lgn21st</a></p>
      </li>
      <li>
        <a href="http://knewone.com"><i class="icon-knewone"></i></a>
        <p><a href="//twitter.com/jasl9187">@jasl9187</a></p>
      </li>
    </ul>

    <div class="social">
      <a href="https://twitter.com/ruby_china"><i class="icon-twitter"></i></a>
      <a href="http://weibo.com/ruby_china"><i class="icon-weibo"></i></a>
    </div>

    <p class="copyright">© COPYRIGHT RUBYCONF CHINA 2013, WEBSITE BY <a href="//beenhero.com">BIN HE</a></p>
  </div>
</footer>