---
title: Speakers of RubyConf China 2013
---

        <nav class="global-nav">
            <ul>
                <li><a href="/#about">关于大会</a></li>
                <li><a href="/speakers.html">演讲嘉宾</a></li>
                <li><a href="/sponsors.html">赞助单位</a></li>
                <li><a href="/#venue">会议地址</a></li>
                <li><a href="http://19wu.com/rubyconfchina" target="_blank" class="btn">报名参会</a></li>
            </ul>
        </nav>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>
      <p>国际顶尖开发者和演讲者, 感受大师风范</p>
    </header>

    <ul class="cbp_tmtimeline">
	    <li id="zachholman">
	        <time class="cbp_tmtime" datetime="2013-10-26 9:15"><span>10/26/13</span> <span>9:15</span></time>
	        <div class="cbp_tmicon"><img src="img/zachholman.png" alt="Zach Holman"></div>
	        <div class="cbp_tmlabel">
	            <h2>More Git and GitHub Secrets</h2>
	            <p>This talk covers both Git and GitHub: different tricks I've picked up after three years at GitHub, helpful advice on common gripes I've seen in support tickets and tweets, and just general nifty things that make you a faster, more capable technologist.</p>
	            <div class="speaker-info">
	            	<a href="//zachholman.com/">Zach Holman</a> joined GitHub in 2010 as one of their first engineering hires. Initially working on what would become GitHub Enterprise, he now hacks on new features and frequently gives talks about building products and growing startups. He lives in San Francisco.
	            </div>
	        </div>
	    </li>
	    <li id="daniel-bovensiepen">
	        <time class="cbp_tmtime" datetime="2013-10-26 10:15"><span>10/26/13</span> <span>10:15</span></time>
	        <div class="cbp_tmicon"><img src="img/daniel-bovensiepen.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>Shrink To Grow</h2>
	            <p>Ruby has grown in the last 20 years. The feature-set and field of usage has increased. But also its code-size has reached an exceptional size. For many systems Ruby is nowadays to large.<br/><br/>

                To reach new systems we have to re-think the way we implement Ruby. We have to shrink Ruby to be able to grow into a new field with an army of small devices.<br/><br/>

                This talk will cover the development of mruby. The current state of the implementation and the reason why you should contribute to it.
	            <div class="speaker-info">
	            	<a href="http://bovensiepen.net/">Daniel Bovensiepen</a> is building Metros all around the world and empowers Ruby in areas nobody would expect it. At night he is contributing to mruby to push it to even more areas of his daily job. The last 6 years he spend most of his time in China and actually helped building Line 8 and Line 10 in Beijing.
	            </div>
	        </div>
	    </li>
	    <li id="rafael">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:00"><span>10/26/13</span> <span>11:20</span></time>
	        <div class="cbp_tmicon"><img src="img/rafael.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>Writing Ruby web server for node.js</h2>
	            <p>Yes, I'm that crazy, I want to write Ruby server which runs on node.js! In this talk I will build a server written using webruby, compile everything to a single JS file, and runs it on node.js. Let's see how fast it will be comparing to MRI, jruby and pure JS running in node.js. This may not be that useful in real world, but let's just have some fun here :)</p>
	            <div class="speaker-info">
	            	<a href="http://qiezi.me">肖雪洁</a> 曾经的 Lisp 脑残粉，如今的 Ruby 理性支持者，每天盼望着大家写 Ruby 时可以不只是写 server。坚定的 Web App 传教士，手机上多装一个 App 会掉一块肉星人，无理由的相信将来统治世界的一定会是 Chrome Web Store 或者 Firefox Marketplace。
	            </div>
	        </div>
	    </li>
	    <li id="ihower">
	        <time class="cbp_tmtime" datetime="2013-10-26 13:30"><span>10/26/13</span> <span>13:30</span></time>
	        <div class="cbp_tmicon"><img src="img/ihower.jpeg"></div>
	        <div class="cbp_tmlabel">
	            <h2>從 Classes 到 Objects：那些 OOP 教我的事</h2>
	            <p>一直以來，關於面向對象程序設計(OOP)，我們都習慣於使用類(class)進行設計，利用各種設計模式捕捉整個系統的靜態藍圖，卻忘記了 OO 的本質其實是物件之間的訊息互動。不同於其他靜態的 OOP 語言，Ruby 極佳地支援以對象(object)為主角的設計思維。本議程將比較 class-oriented design 和 object-oriented design 的差異，以及在 Ruby 中如何應用以對象為主的設計技巧。</p>
	            <div class="speaker-info">
	            	<a href="//ihower.tw/blog">張文鈿</a> 網路上的代號為 ihower，《Ruby on Rails 實戰聖經》的作者、RubyConf Taiwan 大會主辦人，目前是 Faria Systems 的 CTO。2006年開始接觸 Rails，從此愛上 Ruby 這個極具豐富樂趣及高生產力的程式語言。
	            </div>
	        </div>
	    </li>
	    <li id="lvge">
	        <time class="cbp_tmtime" datetime="2013-10-26 14:15"><span>10/26/13</span> <span>14:15</span></time>
	        <div class="cbp_tmicon"><img src="img/lvge.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>How To Build A Sync-Like Async Web Server</h2>
	            <p>What is an HTTP server? How many protocol specifications are involved in Rack? Why event rocks or sucks? Do you know the design of digital circuits decides your code style? How scheduling scheme affects server performance? Does Ruby forbids or offers concurrency? Will the todays approaches for performance become in vain when hardware evolves? You may not get the answers in this talk because... it's about building a web server.</p>
	            <div class="speaker-info">
	            	<a href="http://github.com/luikore/">吕戈</a> Ruby 程序员, 计算机考古学爱好者, 经常好为人师, 只是一知半解... 现于 Groupon 工作.
	            </div>
	        </div>
	    </li>
	    <li id="jackchen">
	        <time class="cbp_tmtime" datetime="2013-10-26 15:25"><span>10/26/13</span> <span>15:25</span></time>
	        <div class="cbp_tmicon"><img src="img/jackchen.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>Test your Rails application with pleasure</h2>
	            <p>Lots of developers trust Test Driven Development (TDD) is a sweet way of building web applications, while a large proportion don't do so as I heard as test turns them down at some point. However, writing the test doesn't have to pull down your productivity or bring frustration in fact. This topic shares my experience of testing Rails applications with happy face :) including my thoughts of TDD, how to speed up running the test etc. Hope it helps people return to the sweet way and enjoy in writing test.</p>
	            <div class="speaker-info">
	            	<a href="http://github.com/aquajach">Jack Chen</a> has devoted himself to Ruby development since he graduated. He is keen to open-source self-tested projects and gave talks at conferences and Codeaholics (Hong Kong). Having worked in different institutions (startups, 4A agency, travel company and web consultancy), he is happy to see technology bring productivity, efficiency and change the world. He is fond of Agile development, but also tries his best to be agile physically in terms of running, swimming and as a softball catcher!
	            </div>
	        </div>
	    </li>
	    <li id="kevindewalt">
	        <time class="cbp_tmtime" datetime="2013-10-26 16:05"><span>10/26/13</span> <span>16:05</span></time>
	        <div class="cbp_tmicon"><img src="img/kevindewalt.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>How entrepreneurs can use Ruby and Rails to accelerate their companies with Lean Startup strategies.</h2>
	            <p>Today's top tech entrepreneurs use Lean Startup and Customer Development techniques to rapidly test the market for opportunity before investing intensive development into a product.  With its many Gems, community support and infrastructure Ruby on Rails is and ideal language for developing a product to test demand using these techniques. Kevin Dewalt will share specific tactics he has used with Ruby and Rails in developing his own products.  If you are an aspiring or current entrepreneur, you'll benefit from knowing not only just how to apply these techniques - but why. </p>
	            <div class="speaker-info">
	            	<a href="//kevindewalt.com">Kevin Dewalt</a> has been part of the startup ecosystem as a founder (4 startups), VC (20 startups) and mentor/advisor (a lot) for 15 years. He has been an active advocate of the Lean Startup movement and worked with best minds in the business including Eric Ries, Steve Blank, Ash Maurya, and Alex Osterwalder to found and organize meetup groups (DC, Beijing), conduct workshops (Stanford, MIT, Carnegie-Mellon), and
pre-accelerator Startup Weekend NEXT Beijing.
	            </div>
	        </div>
	    </li>
	    <li id="obiefernandez">
	        <time class="cbp_tmtime" datetime="2013-10-26 17:00"><span>10/26/13</span> <span>17:00</span></time>
	        <div class="cbp_tmicon"><img src="img/obiefernandez.jpg" alt="Obie Fernandez"></div>
	        <div class="cbp_tmlabel">
	            <h2>Building a Modern Browser-based App in Coffeescript</h2>
	            <p>Experience report complete with code walkthrough and design advice based on development of a real-world complex browser-based application using Mongo, Ruby on Rails, Spine.js, Bootstrap and JQuery.</p>
	            <div class="speaker-info">
	            	<a href="//obiefernandez.com/">Obie Fernandez</a> helps Fortune 1000 customers keep up with rapid pace of change and innovation as CTO at Lean Startup Machine, makers of Javelin. Previously he founded Hashrocket and drove it to $7M in sales. He also authored the best-selling book The Rails Way, considered the "bible" of Ruby on Rails development. Over 18 years of professional software development experience, both as a consultant and in startup ventures.
	            </div>
	        </div>
	    </li>
	    <li id="zhulang">
	        <time class="cbp_tmtime" datetime="2013-10-27 9:00"><span>10/27/13</span> <span>9:00</span></time>
	        <div class="cbp_tmicon"><img src="img/zhulang.png" alt="朱琅"></div>
	        <div class="cbp_tmlabel">
	            <h2>Ruby 在京东云擎中的使用</h2>
	            <p>介绍京东云擎的体系架构，着重描述云擎中几个重要部件，细说ruby的EventMachine框架的使用，总结京东云引擎目前遇到的 问题和对未来的展望</p>
	            <div class="speaker-info">
	            	<a href="#">朱琅</a> C++ 服务端开发工程师到Ruby开发工程师的身份转变，拥有对技术砖研的热忱，喜欢接受技术方面难题挑战，享受攻克难题后的成就感，现于京东云平台项目组工作。
	            </div>
	        </div>
	    </li>
	    <li id="premsichanugrist">
	        <time class="cbp_tmtime" datetime="2013-10-27 9:40"><span>10/27/13</span> <span>9:40</span></time>
	        <div class="cbp_tmicon"><img src="img/premsichanugrist.png" alt="Prem Sichanugrist"></div>
	        <div class="cbp_tmlabel">
	            <h2>Hidden gems in Ruby on Rails</h2>
	            <p>Have you heard of a web framework called Ruby on Rails? There're a lot of stuff hidden under the hood of Ruby on Rails that you might not know about, and it might be really useful for you even if you aren't creating a web application. Let's not reimplement the wheel, and see what you can do if you include some part of Rails into your Ruby project.</p>
	            <div class="speaker-info">
	            	<a href="//twitter.com/sikachu">Prem Sichanugrist</a> is a developer working at thoughtbot in Boston, MA. He started using Ruby and Ruby on Rails since 2007 and fell in love with it. He started contributing to Ruby on Rails and several projects around it in 2009 and becoming a pretty well-known open source contributor.
	            </div>
	        </div>
	    </li>
	    <li id="weilu">
	        <time class="cbp_tmtime" datetime="2013-10-27 10:45"><span>10/27/13</span> <span>10:45</span></time>
	        <div class="cbp_tmicon"><img src="img/weilu.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>RSpec: the good parts and the tricky parts</h2>
	            <p>RSpec is a popular tool for TDD with ruby. In this talk, we start with the seemingly easy topic on using subject and let. Then we dive into the debate on testing using should_receive vs. asserting side effects. We walk through the pros and cons of both approaches and conclude this section with different scenarios when each approach excels. Last part of this talk covers some traps and caveats of RSpec.</p>
	            <div class="speaker-info">
	            	<a href="http://weilu.github.com">鲁葳</a> is an agile developer working for Neo, Singapore (former Pivotal Labs, Singapore). Former java developer, Hadoop enthusiast, officially ruby & rails developer. Solves clients’ web problems during the day, messes around with (mostly JavaScript) open source projects at night. Loves to code, big fan of the agile practices and the ruby community. A speaker on RedDotRubyConf 2012, and RubyConf Taiwan 2012, both on the topic of pair programming.
	            </div>
	        </div>
	    </li>
	    <li id="doitian">
	        <time class="cbp_tmtime" datetime="2013-10-27 11:25"><span>10/27/13</span> <span>11:25</span></time>
	        <div class="cbp_tmicon"><img src="img/doitian.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>TBD</h2>
	            <p>TBD</p>
	            <div class="speaker-info">
	            	<a href="http://log.iany.me">杨英才</a> 程序员，目前就职于 Groupon。2011年开始接触 Ruby 并成为一名远程开发者，目前关注 web 开发相关技术。工具控，键盘控，快捷键控。
	            </div>
	        </div>
	    </li>
      <li id="mechiland">
	        <time class="cbp_tmtime" datetime="2013-10-27 13:40"><span>10/27/13</span> <span>13:40</span></time>
	        <div class="cbp_tmicon"><img src="img/mechiland.jpeg"></div>
	        <div class="cbp_tmlabel">
	            <h2>Rails 项目架构演进</h2>
	            <p>如何在 rails 项目中逐渐抽取lib, gem, 第三方服务，各种不靠谱的尝试以及在演进过程中的各种替换Gem的思考。同时会有一些坑的分享，比如为什么 sidekiq 靠不住之类。</p>
	            <div class="speaker-info">
	            	<a href="http://michael.nona.name">陈金洲</a> ThoughtWorks 公司的高级咨询师，致力于追求卓越软件质量，提供注重实效的咨询服务，通过现场或离岸分布式敏捷开发，帮助客户解决最棘手、最紧迫的问题。在 Java/J2EE/.NET/Rails 上拥有超过九年的架构、开发、测试、部署的专家级经验。开源 AJAX 框架 Buffalo 的作者和维护者，偶尔写稿，演讲。作为创始人参与金数据软件的运作，工作和兴趣重心逐渐转向产品设计和运营。
	            </div>
	        </div>
      </li>
      <li id="royyoung">
	        <time class="cbp_tmtime" datetime="2013-10-27 14:25"><span>10/27/13</span> <span>14:25</span></time>
	        <div class="cbp_tmicon"><img src="img/royyoung.png"></div>
	        <div class="cbp_tmlabel">
	            <h2>Discovering Better Object Oriented Design with Tests</h2>
	            <p>Some times our projects becomes bigger and bigger, a lot of objects will be coupling together, it seems bad. But if you use stubs and mocks in your test, it will drive you to develop a better object oriented design. The test will drive us to abstract some new objects that beyond Rails.</p>
	            <div class="speaker-info">
	            	<a href="http://poiyzy.github.io">杨濯宇</a> 从 PHP 转到 Ruby 的程序宅，有独立开发，上线和维护产品的经验。喜欢钻研，分享和传播写代码的心得和体会。Tealeaf Academy 学生兼助教，现在是 Pragmatic.ly 团队的软件工程师。沉迷于测试驱动的设计和架构研究，努力做一名出色的架构师。
	            </div>
	        </div>
      </li>
  		<li id="lilu">
	        <time class="cbp_tmtime" datetime="2013-10-27 15:25"><span>10/27/13</span> <span>15:25</span></time>
	        <div class="cbp_tmicon"><img src="img/lilu.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>Artisan & Artist</h2>
	            <p>做为程序员，我们在工作时经常担任工匠（Artisan）的角色，去实现别人设计好的产品，但有时候，我们也渴望像一个艺术家（Artist）那样去创作......其实，设计并没有那么难，如果能够为你的Library设计出好的API，为你的CLI工具设计出人性化的使用方法，你就有能力设计出简洁，清晰，流畅的图形化用户体验。这个演讲将打破程序员与设计师之间的鸿沟，描绘出Unix哲学与良好的UI设计间的共同之处，让程序员也可以去尝试设计，从Artisan走向Artist。</p>
	            <div class="speaker-info">
	            	<a href="http://weibo.com/coocooba">李路</a> 是 Knewone.com 的联合创始人和CTO，毕业于北京大学电子学系，原新浪高级软件工程师，09年辞职开始创业旅程，曾联合创办了中国第一个轻博客网站宽岛（kuandao.com）。最感兴趣的事情是 Lean Startup,  网站产品设计， 以及学习各种奇葩的编程语言，最崇拜的人是 Paul Graham。
	            </div>
	        </div>
	    </li>
	    <li id="xdite">
	        <time class="cbp_tmtime" datetime="2013-10-27 16:05"><span>10/27/13</span> <span>16:05</span></time>
	        <div class="cbp_tmicon"><img src="img/xdite.jpg"></div>
	        <div class="cbp_tmlabel">
	            <h2>Maintainable Rails View</h2>
	            <p>寫出容易維護的純 Ruby / Rails code 門檻並不高。但開發網站過程中，最令人頭疼的是，當程式碼牽扯到 UI 層面，許多事情就亂了套。這個 talk 會分享許多實務上如何設計維護性高的 View 的最佳實踐。Helper, Partial, Cells, Decorate Object, View Object, Form , Policy Object, 这个主题将向你一一讲解。</p>
              <div class="speaker-info">
	            	<a href="http://blog.xdite.net">Yi-Ting (xdite)</a> is CEO at Roco, a leader Ruby on Rails consultancy based in Taiwan. She is also the most well-known Rails blogger in Greater China and Southeast Asia. She loves adapting cutting-edge technogies to build amazing apps in day to day works. In her spare time she also organizes Taipei Rails Meetup and makes time for attending local hackathons. She recently startup a new company: Logdown, a markdown blogging platform. Dedicated to deliver high quality blogging experience.
	            </div>
	        </div>
	    </li>
	    <li id="davethomas">
	        <time class="cbp_tmtime" datetime="2013-10-27 17:00"><span>10/27/13</span> <span>17:00</span></time>
	        <div class="cbp_tmicon"><img src="img/davethomas.jpg" alt="Dave Thomas" /></div>
	        <div class="cbp_tmlabel">
	            <h2>红宝石，编码乐 (Code Ruby, Be Happy)</h2>
	            <p class="topic-summary">Programming is difficult. As programmers, we know how hard it is to write good code. Some of the job of a good programming language is to make this easier. In part, languages do that by having a convenient syntax and good libraries. But there's something else, too. They should make you happy when you use them, because then you'll do your best work. <br/><br/>

The Ruby language makes me happy. Interestingly, many of the reasons I'm happy using Ruby are the same reasons my wife and I love being in China. <br/><br/>

In this talk I'll explore the reasons why both China and Ruby make me happy.</p>
	            <div class="speaker-info">
	            	<a href="http://pragdave.pragprog.com">Dave Thomas</a> has been coding since 1972, and coding Ruby since 1998. He loves programming and programming languages, and enjoys sharing his enthusiasm by writing books and talking at conferences. He has written 8 books, and is one of the creators of the Agile Manifesto. He and Andy Hunt run The Pragmatic Bookshelf, a publisher of programming books and videos. When not coding, he loves traveling to Asia (and particularly to China).
	            </div>
	        </div>
	    </li>
	</ul>

  </div>
</section>
