---
title: Sponsors of RubyConf China 2013
---

<nav class="global-nav">
  <ul>
    <li><a href="#about">关于大会</a></li>
    <li><a href="#speakers">演讲嘉宾</a></li>
    <li><a href="#sponsors">赞助单位</a></li>
    <li><a href="#venue">会议地址</a></li>
    <li><a href="http://19wu.com/rubyconfchina" target="_blank" class="btn">报名参会</a></li>
  </ul>
</nav>


<section id="sponsors-details" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>
    <p>感谢赞助商支持, 是他们使本次大会成为可能</p>
  </header>

	<div class="container">
  <div class="sponsors-platinum">
  	<h4>白金赞助商</h4>
    <ul>
      <li>
        <a href="http://groupon.com" target="_blank"><img src="img/groupon.png" /></a>
				<p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任，并且一直坚持非营利办会的宗旨，我们得到了很多赞助商的认可与支持，我们把这些赞助商称作"Ruby 的梦想赞助商"，没有你们这些梦想赞助商，每一届大会都不可能成功举办，感谢曾经支持过我们的所有赞助商，感谢你们支持着我们的每一次梦想成真。<br/><br/>

    如果您有兴趣赞助本次大会，请邮件联系 <a href="mailto:conf@ruby-china.org?subject=Sponsor to RubyConf China 2013">conf@ruby-china.org</a></p>
      </li><li>
        <a href="http://www.jcloud.com" target="_blank"><img src="img/logo-jingdong.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任，并且一直坚持非营利办会的宗旨，我们得到了很多赞助商的认可与支持，我们把这些赞助商称作"Ruby 的梦想赞助商"，没有你们这些梦想赞助商，每一届大会都不可能成功举办，感谢曾经支持过我们的所有赞助商，感谢你们支持着我们的每一次梦想成真。</p>
      </li>
    </ul>
  </div>

  <div class="sponsors-gold">
  	<h4>金牌赞助商</h4>
    <ul>
      <li>
        <a href="http://upyun.com" target="_blank"><img src="img/logo-UPYun.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://faria.co" target="_blank"><img src="img/logo-FariaSystems.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://qiniu.com" target="_blank"><img src="img/logo-qiuniu.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://intridea.com" target="_blank"><img src="img/intridea.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li>
    </ul>
  </div>

  <div class="sponsors-silver">
  	<h4>银牌赞助商</h4>
    <ul>
      <li>
        <a href="http://bitfund.pe" target="_blank"><img src="img/logo-bitfund.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://gitcafe.com" target="_blank"><img src="img/logo-GitCafe.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://github.com" target="_blank"><img src="img/logo-github.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li class="locomote">
        <a href="http://locomote.com" target="_blank"><img src="img/logo-Locomote.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li>
    </ul>
  </div>

  <div class="sponsors-bronze">
  	<h4>铜牌赞助商</h4>
    <ul>
      <li>
        <a href="http://logdown.com" target="_blank"><img src="img/logo-logdown.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="http://boohee.com" target="_blank"><img src="img/logo-boohee.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li><li>
        <a href="https://www.vpncloud.biz" target="_blank"><img src="img/logo-vpncloud.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li>
    </ul>
  </div>

  <div class="sponsors-media">
  	<h4>媒体支持</h4>
    <ul>
      <li>
        <a href="http://36kr.com" target="_blank"><img src="img/logo-36kr.png" /></a>
        <p>从第一届大会开始至今，我们已经成功举办了五届大会。筹备每一次大会，我们都会面对非常大的压力，因为一直把推广 Ruby 技术在国内的普及作为我们的使命和责任</p>
      </li>
    </ul>
  </div>
	</div>

</section>
